.card {
  background-color: var(--primary-color);
  color: var(--text-color);

  width: 300px;
  border-radius: 7px;
  transition: all 0.2s;
  margin: 20px 20px 40px 20px;
  /*  border: 1px solid var(--primary-color);*/
}
.card-img img {
  display: block;
  width: 100%;
  border-radius: 7px 7px 0 0;
}

.card-desc p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 300;

}
.card-desc{
    flex-grow: 1;
    padding-bottom: 10px;  
    line-height: 1.5;
}
.card-btn {
  outline: none;
  border: 1px solid var(--primary-color);
  padding: 12px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5000px;
  cursor: pointer;
  color: var(--primary-color);
  transition: all 0.2s;
  text-decoration: none;
  margin: 7px 0;
  display: inline-block;
  border-color: #fff;
}

.card-btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-color);
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-heading h2{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.card:hover {
  transform: scale(1.05);
}
.card-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

@media screen and (max-width: 906px) {
    .card {
      width: 100%;
    }
    .card-desc p{
      font-size: 18px;
    }
  }
  @media screen and (max-width: 768px) {
    .card {
      margin: 15px auto;
      width: 75%;
    }
  }
  