.home.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home h1 {
  padding: 20px 0;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}

.home p {
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.2;
}
.home .text-content {
  width: 60%;
  font-family: "Lato", sans-serif;
}

.home .home-vector {
  width: 40%;
}

.home .home-vector img {
  width: 100%;
}

.home .hire-button {
  padding: 10px 20px;
  font-weight: 300;
  font-size: 1.8rem;
  background-color: slateblue;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 50px;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.home .hire-button:hover {
  background-color: rgb(124, 107, 233);
}

.home .credit {
  font-size: 0.5rem;
}

.home .logo {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 3rem;
}

@media screen and (max-width: 900px) {
  .home.container {
    flex-direction: column;
  }
  .home .text-content {
    width: 100%;
    font-family: "Lato", sans-serif;
  }

  .home .home-vector {
    display: none;
  }

  .home h1 {
    font-size: 3rem;
  }

  .home p {
    font-size: 2.5rem;
  }
  .home.container {
    width: 80vw;
  }
}
