.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero h1 {
  color: var(--text-color);
  font-size: 3.9rem;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  /* font-family: "Dancing Script", cursive; */
  font-family: "Great Vibes", cursive;
}

.hero .lead {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 10px;
  font-family: "Voltaire", sans-serif;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 50px;
  }
  .hero .lead {
    font-size: 34px;
  }
}

.btn {
  outline: none;
  border: 1px solid var(--text-color);
  padding: 12px 20px;
  font-size: 1.1rem;
  background-color: none;
  border-radius: 5000px;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.2s;
  text-decoration: none;
  display: block;
  margin-top: 20px;
}

.btn:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
}
