.skill-card i {
  display: block;
  font-size: 100px;
  text-align: center;
}

.skill-card {
  width: 180px;
  margin: 20px;
}

.skill-card p {
  text-align: center;

  font-size: 20px;
  margin-top: 10px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
