*,
body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.container {
  width: 70vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}
